@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&family=Rubik:wght@700&display=swap');

.square {
    position: relative;
    width: 100%;
    top: 75%;

    margin-left: auto;
    margin-right: auto;

    z-index: 0;
    border-radius: 13px;
}

.okButtonDes{
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    width: 20%;
    height: 48px;

    margin-left: auto;
    margin-right: auto;
    top: 82%;

    z-index: 3;
    background: #502ba7;
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.1), 6px 9px 40px rgba(48, 49, 55, 0.54);
    border-radius: 64px;
}

.textCat {
    position: absolute;
    width: 100%;
    height: 100%;
    top:40%;

    font-size: 24px;
    line-height: 29px;
}

.Group {
    position: relative;
    top: 80%;
}

.ImageCat{
    position: absolute;
    width: 100%;
    top:10%;
}

.nameCat {
    position: absolute;
    height: 36px;
    width: 100%;
    top: 13%;
    font-family: Inter;
    font-size: 36px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
}

.buttonArrow{
    display: inline;
    margin-inline: 100px;
}

.buttonW{
    top: 10px;
}
