@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&family=Rubik:wght@700&display=swap');
.bodyAnim {
    height: 100%;
    width: 100%;
    background: url(../public/townie.png) repeat-x 0 100% fixed;
    animation: city 30s linear infinite;
    background-size: cover;
    z-index: 3;
    overflow: hidden;
}
.bodyPaused{
    height: 100%;
    width: 100%;
    background: url(../public/townie.png) repeat-x 0 100% fixed;
    animation: city 30s linear paused;
    background-size: cover;
    z-index: 3;
}

@keyframes city {
    from { background-position: 1920px 100%; }
    to { background-position: 0 100%, 0 0;}
}


.HeadSecond {
    position: absolute;
    width: 100px;
    height: 10px;
    color: #ECF1FF;
}

.TextBack {
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    width: 100%;
    top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.boy {
    position: absolute;
    bottom:40px;
    z-index: 2;
}

.meow{
    position: absolute;
    margin-top: 95%;
}
.books {
    position: absolute;
    -webkit-animation: 2s linear 0s infinite alternate move_eye;
    animation: 2s linear 0s infinite running move_eye;
    bottom:60px;
    z-index: 0;
}

.booksPaused {
    position: absolute;
    -webkit-animation: 2s linear 0s infinite alternate move_eye;
    animation: 2s linear 0s infinite paused move_eye;
    bottom:60px;
    z-index: 0;
}


.textQue{
    position: absolute;
    width: 100%;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    top: 10%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}
@keyframes move_eye { from { margin-left: 100%; } to { margin-left: 0; }  }

.c {
    position: absolute;
    z-index: 0;
    left: 10%;
}

.Toast{
    position: absolute;
    top:40%;
    width: 60%;
    height: 20%;
    left:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffff40;
    border-radius: 54px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #000;
    z-index: 5;
}

.fckdiv{
    position: relative;
    left:5%;
    width: 90%;
}

.Toast2 {
    position: absolute;
    top:10%;
    width: 50%;
    height: 30%;
    left:25%;
    background: rgba(255, 255, 255, 1);
    border-radius: 54px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #23262F;
    z-index: 5;
}
.TextBackQue{
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    width: 100%;
    top:10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.textQue{
    position: absolute;
    width: 100%;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    top: 20%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.Help{
    top:20%;
    height: 60%;
}

.rel3 {
    position: relative;
    height: 40px;
    width: 90%;
    top:23%;

    margin-right: auto;
    margin-left: auto;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000;
    z-index: 3;

    background: rgba(255, 255, 255, 0.12);
    border-radius: 74px;
    margin-top: 21px;
}
.fckdivOk{
    position: absolute;
    left:40%;
    height: 5%;
    width: 20%;
    top: 45%;
    background: rgba(255, 255, 255);
    border-radius: 74px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.fckdiv{
    position: relative;
    left:5%;
    width: 90%;
}

.brOk {
    width: 100%;
    line-height: 36px;
    align-items: center;
    justify-content: center;
}

.threebutt{
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #000;
}

.butt1{
    position: absolute;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 54px;

    width: 134px;
    height: 50px;

    top: 64%;
    margin-left: 5%;
}

.butt2{
    position: absolute;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 54px;

    width: 40%;
    height: 48px;

    top: 64%;
    right: 5%;
}

.butt3{
    position: absolute;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 54px;

    width: 90%;
    height: 50px;

    top: 73%;
    left:5%;
}

.fifthonfifth{
    top:20%;

}

.Help{
    top:20%;
}

.Later{
    width: 100%;
    height: 20%;
    top:80%;
    margin-left: auto;
    margin-right: auto;
}

.romb {
    position: absolute;
    width: 16px;
    height: 24px;

    top:25%;
}

.LaterButt{
    top: 80%;
}

.basetimer {
    position: relative;
    width: 300px;
    height: 300px;
    left: 70%;
}

.basetimersvg {
    transform: scaleX(-1);
}

.basetimercircle {
    fill: none;
    stroke: none;
}

.basetimerpathelapsed {
    stroke-width: 7px;
    stroke: white;
}

.basetimerpathremaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.basetimerpathremaining.green {
    color: rgb(65, 184, 131);
}

.basetimerpathremaining.orange {
    color: blue;
}

.base-timerpathremaining.red {
    color: red;
}

.basetimerlabel {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #ECF1FF;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}
