@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&family=Rubik:wght@700&display=swap');

@font-face {
    font-family: Syo;
    font-style: normal;
    font-weight: 400;
    src: url('/agencyfb_bold.ttf') format('truetype')
}

@font-face {
    font-family: MyInter;
    font-style: normal;
    src: url('/InterMy.ttf') format('truetype')
}

@font-face {
    font-family: MyRubik;
    font-style: normal;
    font-weight: 400;
    src: url('/RubikMy.ttf') format('truetype')
}

.con {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(336.9deg, #143787 0%, rgba(8, 8, 8, 0) 64.95%), radial-gradient(66.53% 100% at 73.33% 100%, rgba(110, 5, 193, 0.44) 0%, rgba(53, 19, 149, 0.1) 99.69%), linear-gradient(180.03deg, rgba(8, 8, 8, 0) 50%, rgba(25, 63, 152, 0.41) 99.97%), linear-gradient(270deg, rgba(39, 15, 107, 0.3) 0%, rgba(8, 8, 8, 0) 100%);
  background-color: #23262F;
}


.purple{
  position: absolute;
  width: 268px;
  height: 268px;
  left: 0px;
  top: 0px;
  color: #FA00FF;

}

.button{
  position: absolute;
}

.smart {
  position: absolute;
  width: 205px;
  height: 74px;
  left: 6px;
  top: 25%;

  font-family: Syo;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 73px;
  color: #ECF1FF;
  z-index: 3;
}

.runner {
  position: absolute;
  left: 6px;
  top: 38%;

  font-family: Syo;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 76px;
  letter-spacing: -0.019em;

  background: -webkit-linear-gradient(#5993FF, #00DDE0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
}

.bg{

}

.rect1{
  position: absolute;
  width: 16px;
  height: 24px;
  left: 289px;
  top: 68px;
}

.svet{
  position: absolute;
  width: 308px;
  height: 17px;
  left: 8px;
  top: 53%;

  font-family: MyInter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;

  color: rgba(255, 255, 255, 0.96);
  z-index: 3;
}

.rec1{
  position: absolute;

  left: 10px;
  margin-top: 115px;
  z-index: 2;
}

.rec2{
  position: absolute;
  margin-left: 232px;
  top: 180px;
  z-index: 2;
}

.chel {
  position: absolute;
  height: 100%;
  left: -230px;

  z-index: 3;
}

.rel {
  position: relative;
}

.rel2 {
  position: relative;
}

.rel3 {
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
}

.Div2{
  position: absolute;
  height: 100%;
}

.square{
  position: relative;
  width: 280px;
  height: 300px;
  margin-right:auto;
  background-color: #FFFF00;
  z-index: 5;
}

.play {
  position: absolute;
  left: 35%;
  top: 25%;
}

.border0 {
  position: absolute;
  height: 0px;
  width: 815px;
  left: -500px;

  border: 1px solid rgba(80, 43, 167, 0.4);
  transform: rotate(-90deg);
  z-index: 0;
}

.border1 {
  position: absolute;
  height: 0px;
  width: 815px;
  left: -420px;

  border: 1px solid rgba(80, 43, 167, 0.4);
  transform: rotate(-90deg);
  z-index: 0;
}

.border2 {
  position: absolute;
  height: 0px;
  width: 815px;
  left: -340px;

  border: 1px solid rgba(80, 43, 167, 0.4);
  transform: rotate(-90deg);
  z-index: 0;
}

.border3 {
  position: absolute;
  height: 0px;
  width: 815px;
  left: -260px;

  border: 1px solid rgba(80, 43, 167, 0.4);
  transform: rotate(-90deg);
  z-index: 0;
}

.border4 {
  position: absolute;
  height: 0px;
  width: 815px;
  left: -98px;

  border: 1px solid rgba(80, 43, 167, 0.4);
  transform: rotate(-90deg);
  z-index: 0;
}

.star {
  position: absolute;
  width: 298px;
  height: 330px;
  margin-left: 120px;
  margin-top: 29px;
}

.Go {
  position: absolute;
  width: 77px;
  height: 23px;
  left: 32%;
  top: 60%;

  font-family: MyRubik;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
  z-index: 3;
}
