@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&family=Rubik:wght@700&display=swap');

.bodys {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: linear-gradient(336.9deg, #143787 0%, rgba(8, 8, 8, 0) 64.95%), radial-gradient(66.53% 100% at 73.33% 100%, rgba(110, 5, 193, 0.44) 0%, rgba(53, 19, 149, 0.1) 99.69%), linear-gradient(180.03deg, rgba(8, 8, 8, 0) 50%, rgba(25, 63, 152, 0.41) 99.97%), linear-gradient(270deg, rgba(39, 15, 107, 0.3) 0%, rgba(8, 8, 8, 0) 100%);
    background-color: #23262F;
}

.three{
    position: absolute;
    font-family: Syo;
    font-style: normal;
    top:20%;
    width: 100%;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    z-index: 3;
}
.smarts{
    font-family: Syo;
    font-weight: bold;
    font-size: 144px;
    color: #ECF1FF;
    z-index: 5;
    margin-bottom: -50px;

    text-align: center;
}

.runner{
    font-family: Syo;
    font-weight: bold;
    font-size: 144px;
    /* identical to box height, or 53% */

    letter-spacing: -0.019em;

    background: -webkit-linear-gradient(#5993FF, #00DDE0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 5;
}

.svet{
    font-family: MyInter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;

    text-align: center;

    color: rgba(255, 255, 255, 0.96);
    z-index: 5;
}

.button {
    position: relative;
    top:60px;
}

.square{
    position: fixed;
    width: 210px;
    height: 117px;
    left: 43%;
    bottom: 10%;
    background-color: #FFFF00;
    z-index: 3;
}

.play {
    position: absolute;
    left: 55%;
    top: 5%;
}

.Go {
    position: absolute;
    width: 77px;
    height: 23px;
    left: 12%;
    top: 40%;

    font-family: MyRubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
    z-index: 4;
}

.rec1{
    position: absolute;
    left: 45%;
    top: 17%;
    z-index: 2;
}

.rec2{
    position: absolute;
    z-index: 2;

    left:38%;
    top:60%;
}

.rec3{
    position: absolute;
    z-index: 2;

    left:63%;
    top:25%;
}

.circle_fon{
    position: absolute;
    z-index: 0;
    left:25%;
}

.chel{
    position: absolute;
    left:10%;
    top:30%;
    z-index: 1;
}

.blur{
    position: absolute;
    z-index: 1;
}

.star{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 136px;
}

.rec11{
    position: absolute;

    left: 50px;
    margin-top: 65px;
    z-index: 2;
}

.rec21{
    position: absolute;
    margin-left: -140px;
    top: 1px;
    z-index: 2;
}
