.squareQ1 {
    position: relative;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 112px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(126.885px);
    border-radius: 13px;
}

.squareQ2 {
    position: relative;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 140px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 13px;
}

.bonusIcon {
    position: absolute;
    width: 16px;
    height: 24px;
    left: 78%;
    top: 80%;
}

.bonusIcon2 {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 82%;
    top: 80%;
}
