@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&family=Rubik:wght@700&display=swap');

.body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.root {
    overflow: hidden;
}
.bqs {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(336.9deg, #143787 0%, rgba(8, 8, 8, 0) 64.95%), radial-gradient(66.53% 100% at 73.33% 100%, rgba(110, 5, 193, 0.44) 0%, rgba(53, 19, 149, 0.1) 99.69%), linear-gradient(180.03deg, rgba(8, 8, 8, 0) 50%, rgba(25, 63, 152, 0.41) 99.97%), linear-gradient(270deg, rgba(39, 15, 107, 0.3) 0%, rgba(8, 8, 8, 0) 100%);
    background-color: #23262F;
}

.headers {
    position: absolute;
    width: 100px;
    height: 10px;
    color: #ECF1FF;
}

.backtext{
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    width: 100%;
    top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.squareQ1 {
    position: relative;
    width: 330px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    top: 112px;
    outline: #00DDE0;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(126.885px);
    border-radius: 13px;
}

.squareQ12 {
    position: relative;
    width: 330px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    top: 112px;


    background: rgba(200, 0, 215, 0.5);
    backdrop-filter: blur(126.885px);
    border-radius: 13px;
}

.squareQ2 {
    position: relative;
    width: 330px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    top: 140px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 13px;
}

.text1 {
    position: absolute;
    left: 23px;
    top:13px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #ADADAD;
}

.text2 {
    position: absolute;
    width: 124px;
    height: 17px;
    left: 23px;
    top: 60%;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #ADADAD;
}

.text3 {
    position: absolute;
    width: 175px;
    height: 36px;
    left: 23px;
    top: 70%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.text21 {
    position: absolute;
    width: 150px;
    height: 17px;
    left: 23px;
    top: 14px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #ADADAD;
}

.text22 {
    position: absolute;
    width: 170px;
    height: 17px;
    left: 23px;
    top: 60%;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #ADADAD;
}

.text23 {
    position: absolute;
    width: 141px;
    height: 36px;
    left: 23px;
    top: 70%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.Firsticon {
    position: static;
    width: 16px;
    height: 24px;

    display: inline-block;
}

.Secondicon {
    position: static;
    width: 27px;
    height: 24px;

    display: inline-block;

}

.texticon1 {

    position: static;
    width: 15px;
    height: 31px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;

    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;

    color: #FFFFFF;
}

.texticon2 {
    position: static;
    width: 15px;
    height: 31px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;

    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;

    color: #FFFFFF;
}

.bonus {
    position: absolute;
    width: 67px;
    height: 31px;
    left: 70%;
    top: 80%;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;

    color: #FFFFFF;
}

.bonusIcon {
    position: absolute;
    width: 16px;
    height: 24px;
    left: 92%;
    top: 80%;
}

.fuck {
    position: absolute;
    right: 30px;
    top: 10px;
}
