.c {
    position: absolute;
    z-index: 0;
    left: 10%;
}

.Toast{
    position: absolute;
    top:40%;
    width: 20%;
    height: 10%;
    left:40%;
    background: rgba(255, 255, 255, 1);
    border-radius: 54px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #23262F;
    z-index: 5;
}

.TextBackQue{
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    width: 100%;
    top:10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.textQue{
    position: absolute;
    width: 100%;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    top: 20%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.rel3{
    position: relative;
    height: 40px;
    width: 30%;
    top:30%;

    margin-right: auto;
    margin-left: auto;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 3;

    background: rgba(255, 255, 255, 0.12);
    border-radius: 74px;
    margin-top: 21px;
}

.fckdiv{
    position: relative;
    left:5%;
    width: 90%;
}

.butt1{
    position: absolute;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 54px;

    width: 330px;
    height: 100px;

    top: 34%;
    margin-left: 5%;
    font-size: 36px;
}

.butt2{
    position: absolute;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 54px;

    width: 330px;
    height: 100px;

    top: 50%;
    margin-left: 5%;
    font-size: 36px;
}

.butt3{
    position: absolute;
    width: 292px;
    height: 109px;
    left: 42%;
    top: 80%;

    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;

    font-size: 24px;
}

.threebutt{
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;

    line-height: 36px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.fifthonfifth{
    top:20%;

}

.Help{
    top:20%;
}

.Later{
    width: 100%;
    height: 20%;
    top:80%;
    margin-left: auto;
    margin-right: auto;
}

.romb {
    position: absolute;
    width: 16px;
    height: 24px;

    top:25%;
}

.LaterButt{
    top: 80%;
}
