.textQue{
    position: absolute;
    width: 100%;
    height: 128px;
    margin-right: auto;
    margin-left: auto;
    top: 15%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */

    text-align: center;
    letter-spacing: -0.011em;

    color: #ECF1FF;
}

.bonusIcon {
    position: absolute;
    width: 16px;
    height: 24px;
    left: 83%;

}

.bonusIcon2 {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 89%;
}

.bonusIcon3 {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 73%;
    bottom: 32%;
}

.rel5{
    position: relative;
    height: 40px;
    width: 20%;
    top:40%;

    margin-right: auto;
    margin-left: auto;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 3;

    background: rgba(255, 255, 255, 0.12);
    border-radius: 74px;
    margin-top: 21px;
}
